.header {
  height: 72px;
  background-color: darkmagenta;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 128px;
  margin: 0;
}

.logo {
  color: white;
  font-size: 64px;
  font-weight: 900;
}

a {
  text-decoration: none;
  justify-content: flex-end;
  color: grey;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

body {
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: darkmagenta;
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  border-radius: 8px;
  background: blue;
  color: white;
  padding: 8px 8px;
  max-width: 100px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: white;
}

p {
  color: white;
  width: 300px;
  word-wrap: break-word;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 32px;
  margin-bottom: 16px;
}

.box {
  border: 3px solid blue;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.quote {
  display: flex;
  text-align: center;
  font-size: 32px;
}

.quote-space {
  background-color: grey;
  padding: 50px 300px;
}

.person {
  display: flex;
  justify-content: flex-end;
  font-size: 34px;
  font-weight: bold;

}
